<div class='fact'>

  <% @facts.each do |fact| %>
    <div class="fact-overview">
      <%= link_to fact.title, fact %>
    </div>
  <% end %>
  <hr>

  <%= link_to 'New Fact', new_fact_path if user_signed_in? %>
</div>