<div class="fields">
  <div class='row'>
    <div class='span7'>
      <%= f.input :ref, label: false, placeholder: 'reference', input_html: { class: 'form-wide'}, hint: 'Facts need at least one reference.' %><br>
    </div>
    <div class='span1'>
      <%= f.hidden_field :_destroy %>
      <%= link_to_function(icon_minus, 'remove_fields(this)', class: 'btn btn-danger') %>
    </div>
  </div>
</div>