<p>
  <strong>Ref:</strong>
  <%= @reference.ref %>
</p>

<p>
  <strong>Fact:</strong>
  <%= @reference.fact_id %>
</p>

<%= link_to 'Edit', edit_reference_path(@reference) %> |
<%= link_to 'Back', references_path %>
