<div class="navbar">
  <div class="navbar-inner">
    <%= link_to 'What, Really?', facts_path, id: "logo" %>
    <nav>
      <ul class="nav pull-right">
        <li><%= link_to "All Facts", facts_path %></li>
        <li><%= link_to "Add New Fact", new_fact_path %></li>
      </ul>
    </nav>
  </div>
</div>